WEB/App_WebReferences/news/ComPageWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FolderPathName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:portType name="ComPageWebServiceSoap">
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileSoapIn" />
      <wsdl:output message="tns:DeleteFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ComPageWebServiceSoap" type="tns:ComPageWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ComPageWebServiceSoap12" type="tns:ComPageWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComPageWebService">
    <wsdl:port name="ComPageWebServiceSoap" binding="tns:ComPageWebServiceSoap">
      <soap:address location="http://news.topfo.com/Service/ComPageWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ComPageWebServiceSoap12" binding="tns:ComPageWebServiceSoap12">
      <soap12:address location="http://news.topfo.com/Service/ComPageWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>