WEB/App_WebReferences/imgBiz/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.topfo.com/" xmlns:s1="http://www.topfo.com/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.topfo.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.topfo.com/">
      <s:element name="UpImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imgName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="byteFileStream" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpImageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imgName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delImageResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpCrmImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imgName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="byteFileStream" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpCrmImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpCrmImageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delCrmImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imgName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delCrmImageResponse">
        <s:complexType />
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
    <s:schema targetNamespace="http://www.topfo.com/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpImageSoapIn">
    <wsdl:part name="parameters" element="tns:UpImage" />
  </wsdl:message>
  <wsdl:message name="UpImageSoapOut">
    <wsdl:part name="parameters" element="tns:UpImageResponse" />
  </wsdl:message>
  <wsdl:message name="delImageSoapIn">
    <wsdl:part name="parameters" element="tns:delImage" />
  </wsdl:message>
  <wsdl:message name="delImageSoapOut">
    <wsdl:part name="parameters" element="tns:delImageResponse" />
  </wsdl:message>
  <wsdl:message name="UpCrmImageSoapIn">
    <wsdl:part name="parameters" element="tns:UpCrmImage" />
  </wsdl:message>
  <wsdl:message name="UpCrmImageSoapOut">
    <wsdl:part name="parameters" element="tns:UpCrmImageResponse" />
  </wsdl:message>
  <wsdl:message name="delCrmImageSoapIn">
    <wsdl:part name="parameters" element="tns:delCrmImage" />
  </wsdl:message>
  <wsdl:message name="delCrmImageSoapOut">
    <wsdl:part name="parameters" element="tns:delCrmImageResponse" />
  </wsdl:message>
  <wsdl:message name="UpImageHttpGetIn">
    <wsdl:part name="imgName" type="s:string" />
    <wsdl:part name="byteFileStream" type="s1:StringArray" />
    <wsdl:part name="loginName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpImageHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="delImageHttpGetIn">
    <wsdl:part name="imgName" type="s:string" />
    <wsdl:part name="loginName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="delImageHttpGetOut" />
  <wsdl:message name="UpCrmImageHttpGetIn">
    <wsdl:part name="imgName" type="s:string" />
    <wsdl:part name="byteFileStream" type="s1:StringArray" />
    <wsdl:part name="loginName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpCrmImageHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="delCrmImageHttpGetIn">
    <wsdl:part name="imgName" type="s:string" />
    <wsdl:part name="loginName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="delCrmImageHttpGetOut" />
  <wsdl:message name="UpImageHttpPostIn">
    <wsdl:part name="imgName" type="s:string" />
    <wsdl:part name="byteFileStream" type="s1:StringArray" />
    <wsdl:part name="loginName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpImageHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="delImageHttpPostIn">
    <wsdl:part name="imgName" type="s:string" />
    <wsdl:part name="loginName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="delImageHttpPostOut" />
  <wsdl:message name="UpCrmImageHttpPostIn">
    <wsdl:part name="imgName" type="s:string" />
    <wsdl:part name="byteFileStream" type="s1:StringArray" />
    <wsdl:part name="loginName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpCrmImageHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="delCrmImageHttpPostIn">
    <wsdl:part name="imgName" type="s:string" />
    <wsdl:part name="loginName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="delCrmImageHttpPostOut" />
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="UpImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传资源图片文件</wsdl:documentation>
      <wsdl:input message="tns:UpImageSoapIn" />
      <wsdl:output message="tns:UpImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除资源图片文件</wsdl:documentation>
      <wsdl:input message="tns:delImageSoapIn" />
      <wsdl:output message="tns:delImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpCrmImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传Crm资源图片文件</wsdl:documentation>
      <wsdl:input message="tns:UpCrmImageSoapIn" />
      <wsdl:output message="tns:UpCrmImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delCrmImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除Crm资源图片文件</wsdl:documentation>
      <wsdl:input message="tns:delCrmImageSoapIn" />
      <wsdl:output message="tns:delCrmImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="UpImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传资源图片文件</wsdl:documentation>
      <wsdl:input message="tns:UpImageHttpGetIn" />
      <wsdl:output message="tns:UpImageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="delImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除资源图片文件</wsdl:documentation>
      <wsdl:input message="tns:delImageHttpGetIn" />
      <wsdl:output message="tns:delImageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpCrmImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传Crm资源图片文件</wsdl:documentation>
      <wsdl:input message="tns:UpCrmImageHttpGetIn" />
      <wsdl:output message="tns:UpCrmImageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="delCrmImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除Crm资源图片文件</wsdl:documentation>
      <wsdl:input message="tns:delCrmImageHttpGetIn" />
      <wsdl:output message="tns:delCrmImageHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="UpImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传资源图片文件</wsdl:documentation>
      <wsdl:input message="tns:UpImageHttpPostIn" />
      <wsdl:output message="tns:UpImageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="delImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除资源图片文件</wsdl:documentation>
      <wsdl:input message="tns:delImageHttpPostIn" />
      <wsdl:output message="tns:delImageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpCrmImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传Crm资源图片文件</wsdl:documentation>
      <wsdl:input message="tns:UpCrmImageHttpPostIn" />
      <wsdl:output message="tns:UpCrmImageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="delCrmImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除Crm资源图片文件</wsdl:documentation>
      <wsdl:input message="tns:delCrmImageHttpPostIn" />
      <wsdl:output message="tns:delCrmImageHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpImage">
      <soap:operation soapAction="http://www.topfo.com/UpImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delImage">
      <soap:operation soapAction="http://www.topfo.com/delImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpCrmImage">
      <soap:operation soapAction="http://www.topfo.com/UpCrmImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCrmImage">
      <soap:operation soapAction="http://www.topfo.com/delCrmImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpImage">
      <soap12:operation soapAction="http://www.topfo.com/UpImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delImage">
      <soap12:operation soapAction="http://www.topfo.com/delImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpCrmImage">
      <soap12:operation soapAction="http://www.topfo.com/UpCrmImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCrmImage">
      <soap12:operation soapAction="http://www.topfo.com/delCrmImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="UpImage">
      <http:operation location="/UpImage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delImage">
      <http:operation location="/delImage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpCrmImage">
      <http:operation location="/UpCrmImage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCrmImage">
      <http:operation location="/delCrmImage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="UpImage">
      <http:operation location="/UpImage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delImage">
      <http:operation location="/delImage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpCrmImage">
      <http:operation location="/UpCrmImage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delCrmImage">
      <http:operation location="/delCrmImage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://image.topfo.com/WebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://image.topfo.com/WebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://image.topfo.com/WebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://image.topfo.com/WebService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>